<div class="container">
  <div class="mb-5">
    <h2>API endpoints</h2>
    <hr>
  </div>

  <div class="mb-3">
    <h3 >Base URL</h3>
    <code>
      https://todays-commits.herokuapp.com/
    </code>
  </div>



  <div class="mb-3">
    <h3 >Get specific user's daily GH contrib</h3>
    <code>
      [GET] /:gh_user_name
    </code>
  </div>

  <div class="mb-3">
    <h3 >Example</h3>
    <code>
      curl https://todays-commits.herokuapp.com/yannklein
    </code>
    <p>Result:</p>
    <pre><code>{
  "day": "2022-10-18",
  "user_name": "yannklein",
  "commits": "6",
  "location": [
    "Tokyo",
    "JP"
  ]
}</code></pre>
  </div>

  <div class="mb-3">
    <h3 >Other endpoints</h3>
    <p>More coming soon or later...</p>
  </div>
</div>